@import '@styles/variables';

#theme {
  display: flex;
  align-items: center;

  #theme-mode {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: $gray-500;
  }

  #theme-toggle {
    display: inline-block;
    height: 28px;
    width: 50px;
    padding: 4px;
    margin-right: 12px;
    border-radius: 16px;
    border: 2px solid $gray-500;
    cursor: pointer;
    position: relative;

    #theme-toggle-dot {
      position: absolute;
      top: 4px;
      height: 16px;
      width: 16px;
      border-radius: 12px;
      transition: left $time ease-in-out;
    }

    &.light {
      background-color: $black;

      #theme-toggle-dot {
        left: 4px;
        background-color: $gray-100;
      }
    }

    &.dark {
      background-color: $black;

      #theme-toggle-dot {
        left: 26px;
        background-color: $gray-500;
      }
    }
  }
}
