@import '@styles/variables';

#password-meter {
  margin-bottom: 12px;

  #password-meter-progress-wrapper {
    height: 5px;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    position: relative;
    background-color: rgba($black, 0.4);
    margin-bottom: 12px;

    #password-meter-progress {
      height: 100%;
      transition: width 250ms ease-out;

      &.strength-0 {
        background-color: transparent;
        width: 0;
      }

      &.strength-1 {
        background-color: $red;
        width: 20%;
      }
      &.strength-2 {
        background-color: $orange;
        width: 40%;
      }
      &.strength-3 {
        background-color: $amber;
        width: 60%;
      }
      &.strength-4 {
        background-color: $yellow;
        width: 80%;
      }
      &.strength-5 {
        background-color: $green;
        width: 100%;
      }
    }
  }

  #password-check {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;

    > div {
      flex: 1 0 50%;
      margin-bottom: 4px;
      white-space: nowrap;

      .password-attr {
        opacity: 0.6;
      }

      .password-attr-state {
        margin-right: 8px;

        .password-attr-check {
          color: $green;
        }

        .password-attr-x {
          color: rgba($black, 0.2);
        }
      }
    }
  }

  .light & {
    #password-meter-progress-wrapper {
      background-color: rgba($black, 0.1);
    }
  }
}
