@import '@styles/variables';

.form-error {
  color: $white;
  display: flex;
  align-items: center;
  margin-top: 4px;
  font-size: 14px;
  padding: 8px;
  background: rgba($black, 0.2);
  border-radius: 4px;

  svg {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    color: $red;
  }

  .light & {
    background-color: transparent;
    color: $red;
  }
}
