@import '@styles/variables';

.form-error {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 13px;
  font-weight: 400;
  border-radius: 4px;
  font-style: italic;
  color: $red;

  svg {
    height: 20px;
    width: 20px;
    margin-right: 8px;
    color: $red;
  }
}
