@import '@styles/variables';
@import '@styles/mixins';

#toasts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  top: $header-height;
  padding: 8px;
  pointer-events: none;
  touch-action: none;
  @include z-index(toast);
}

main.unauthenticated + #toasts {
  top: 0;
}

.toast {
  position: relative;
  width: 50%;
  margin: 4px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba($black, 0.12);
  padding: 16px 44px;
  pointer-events: auto;
  touch-action: auto;

  .toast--details {
    flex: 1;
  }

  &.toast-success {
    background: $success;
    border: 1px solid $success;
    color: $white;
  }

  &.toast-danger {
    background: $error;
    border: 1px solid $error;
    color: $white;
  }

  &.toast-info {
    background: $info;
    border: 1px solid $info;
    color: $white;

    .toast--details--icon {
      transform: rotate(180deg);
    }
  }

  &.toast-warning {
    background: $warning;
    border: 1px solid $warning;
    color: $white;

    .toast--details--icon {
      transform: rotate(180deg);
    }
  }

  .toast--details--icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 16px;
    left: 16px;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  .toast--details--title {
    font-weight: 600;
    vertical-align: top;
  }

  .toast--details--message {
    margin-left: 4px;
    vertical-align: top;
  }

  .toast--close {
    color: rgba($white, 0.8);
    cursor: pointer;
    position: absolute;
    top: 14px;
    right: 14px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      color: $white;
    }
  }
}
