@import '@styles/variables';

#menu {
  background-color: var(--bg-secondary);
  color: var(--tint);
  user-select: none;

  > div {
    padding: 24px;

    &.sidebar-header {
      flex: 0 0 $header-height;
      height: $header-height;
      font-weight: 700;
      font-size: 32px;
      display: flex;
      align-items: center;
      color: var(--white);
    }

    &.sidebar-body {
      padding: 8px;
      display: flex;
      flex-direction: column;
      flex: 1;

      nav {
        display: flex;
        flex-direction: column;

        a {
          padding: 8px 16px;
          border-radius: 8px;
          margin-bottom: 4px;
          display: flex;
          align-items: center;

          span {
            display: flex;

            &:first-child {
              width: 30px;
              transition: width 120ms ease-out;
            }
          }

          &.active {
            span {
              font-weight: 600;
            }
          }

          &:not(.active):hover {
            span {
              &:first-child {
                width: 32px;
              }
            }
          }
        }
      }
    }

    &.sidebar-theme {
      display: flex;
      align-items: center;
    }
  }

  .menu-group {
    border-radius: 8px;
    margin-bottom: 4px;
    overflow: hidden;

    .menu-group-header {
      padding: 8px 16px;
      border-radius: 32px;
      font-weight: 500;
      display: flex;
      align-items: center;

      span {
        display: flex;

        &:first-child {
          width: 30px;
          transition: width 120ms ease-out;
        }

        &.menu-group-header-text {
          flex: 1;
        }
      }
    }

    .menu-group-items {
      display: flex;
      flex-direction: column;
      padding: 0 8px;
    }
  }

  html[data-theme='dark'] & {
    > div {
      &.sidebar-header {
        border-bottom: 1px solid var(--black-10);
      }

      &.sidebar-body {
        background-color: var(--black-10);

        nav {
          a {
            color: var(--tint-60);
            background-color: var(--black-20);

            &.active {
              color: var(--white);
              background-color: var(--primary-color);
            }

            &:not(.active):hover {
              background-color: var(--black-30);
            }
          }

          .menu-group {
            background-color: var(--black-20);

            a {
              &:not(.active):hover {
                background-color: var(--black-30);
              }

              &:not(.active) {
                background-color: transparent;
              }
            }

            .menu-group-header {
              color: var(--tint);
            }
          }
        }
      }

      &.sidebar-theme {
        border-top: 1px solid var(--black-20);
        box-shadow: inset 0px 1px 1px var(--white-10);
      }
    }
  }

  html[data-theme='light'] & {
    > div {
      &.sidebar-header {
        border-bottom: 1px solid var(--black-10);
        background-color: var(--primary-color);
      }

      &.sidebar-body {
        nav {
          a {
            color: var(--tint-80);
            background-color: var(--primary-color-10);

            &.active {
              color: var(--white);
              background-color: var(--primary-color);
            }

            &:not(.active):hover {
              background-color: var(--primary-color-20);
            }
          }

          .menu-group {
            background-color: var(--primary-color-10);

            a {
              &:not(.active):hover {
                background-color: var(--primary-color-20);
              }

              &:not(.active) {
                background-color: transparent;
              }
            }

            .menu-group-header {
              color: var(--tint);
            }
          }
        }
      }

      &.sidebar-theme {
        border-top: 1px solid var(--black-20);
        box-shadow: inset 0px 1px 1px var(--white-20);
      }
    }
  }
}
