@import '@styles/variables';

#menu {
  background-color: var(--bg-secondary);
  color: var(--tint);

  > div {
    padding: 24px;

    &.sidebar-header {
      flex: 0 0 $header-height;
      height: $header-height;
      font-weight: 700;
      font-size: 32px;
      display: flex;
      align-items: center;
      color: var(--white);
    }

    &.sidebar-body {
      padding: 8px;
      display: flex;
      flex-direction: column;
      flex: 1;

      nav {
        display: flex;
        flex-direction: column;

        > a {
          padding: 8px 16px;
          border-radius: 32px;
          margin-bottom: 4px;
          display: flex;
          align-items: center;

          span {
            display: flex;

            &:first-child {
              width: 30px;
              transition: width 120ms ease-out;
            }
          }

          &.active {
            span {
              font-weight: 600;
            }
          }

          &:not(.active):hover {
            span {
              &:first-child {
                width: 32px;
              }
            }
          }
        }
      }
    }

    &.sidebar-user {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        display: flex;
        align-items: center;

        &:first-child {
          width: 30px;
        }

        &.sidebar-user-name {
          flex: 1;
        }

        &.sidebar-user-avatar,
        &.caret {
          opacity: 0.5;
        }
      }
    }

    &.sidebar-user-menu {
      overflow: hidden;
      height: 0;
      transition: height 170ms ease-out;
      padding: 0;

      .sidebar-user-menu-items {
        padding: 24px;
      }
    }

    #admin-menu {
      border-radius: 16px;
      overflow: hidden;
      transition: height 170ms ease-out;
      height: 40px;

      &.open {
        height: 162px;
      }

      #admin-menu-trigger {
        padding: 8px 16px;
        border-radius: 32px;
        display: flex;
        align-items: center;
        cursor: pointer;

        span {
          display: flex;

          &:first-child {
            width: 30px;
            transition: width 120ms ease-out;
          }

          &#admin-menu-trigger-text {
            flex: 1;
          }
        }
      }

      #admin-menu-items {
        display: flex;
        flex-direction: column;
        padding: 0 8px;

        > a {
          padding: 8px 8px 8px 22px;
          display: flex;
          align-items: center;
          border-radius: 32px;
          margin-bottom: 4px;

          span {
            display: flex;

            &:first-child {
              width: 16px;
              transition: width 120ms ease-out;
            }
          }

          &.active {
            span {
              font-weight: 600;
            }
          }

          &:not(.active):hover {
            span {
              &:first-child {
                width: 18px;
              }
            }
          }
        }
      }
    }

    &.sidebar-user.open + .sidebar-user-menu {
      height: 200px;
    }

    &.sidebar-theme {
      display: flex;
      align-items: center;
    }
  }

  html[data-theme='dark'] & {
    > div {
      &.sidebar-header {
        border-bottom: 1px solid var(--black-10);
      }

      &.sidebar-body {
        background-color: var(--black-10);

        nav {
          > a {
            color: var(--tint-60);
            background-color: var(--black-20);

            &.active {
              color: var(--white);
              background-color: var(--primary-color);
            }

            &:not(.active):hover {
              background-color: var(--black-30);
            }
          }
        }
      }

      &.sidebar-user-menu {
        background-color: var(--black-20);
      }

      #admin-menu {
        background-color: var(--black-20);

        #admin-menu-trigger {
          color: var(--tint-60);
        }

        #admin-menu-items {
          > a {
            color: var(--tint-60);

            &.active {
              span {
                &:last-child {
                  color: var(--white);
                }
              }
            }

            &.active {
              color: var(--white);
              background-color: var(--primary-color);
            }

            &:not(.active):hover {
              background-color: var(--black-20);
            }
          }
        }

        &.sidebar-theme {
          border-top: 1px solid var(--black-20);
          box-shadow: inset 0px 1px 1px var(--white-10);
        }
      }
    }
  }

  html[data-theme='light'] & {
    > div {
      &.sidebar-header {
        border-bottom: 1px solid var(--black-10);
        background-color: var(--primary-color);
      }

      &.sidebar-body {
        nav {
          > a {
            color: var(--tint-80);
            background-color: var(--primary-color-10);

            &.active {
              color: var(--white);
              background-color: var(--primary-color);
            }

            &:not(.active):hover {
              background-color: var(--primary-color-20);
            }
          }
        }
      }

      &.sidebar-user-menu {
        background-color: var(--black-20);
      }

      #admin-menu {
        background-color: var(--primary-color-10);

        #admin-menu-trigger {
          color: var(--tint-80);
        }

        #admin-menu-items {
          > a {
            color: var(--tint-80);

            &.active {
              span {
                color: var(--white);
              }
            }

            &.active {
              color: var(--white);
              background-color: var(--primary-color);
            }

            &:not(.active):hover {
              background-color: var(--primary-color-20);
            }
          }
        }

        &.sidebar-theme {
          border-top: 1px solid var(--black-20);
          box-shadow: inset 0px 1px 1px var(--white-20);
        }
      }
    }
  }
}
