@import '@styles/variables';

.btn {
  border-radius: 8px;
  border: 1px solid $gray-600;
  background-color: $gray-500;
  color: $white;
  cursor: pointer;
  font-size: $base-font-size;
  display: flex;
  align-items: center;
  outline: 0;
  padding: 0 16px;
  line-height: 36px;
  user-select: none;
  position: relative;

  &.btn-md {
    font-size: 16px;
    padding: 0 16px;
    line-height: 32px;
  }

  &.btn-sm {
    font-size: 14px;
    padding: 0 8px;
    height: 32px;
    line-height: 36px;
  }

  &:hover {
    background-color: darken($gray-500, 5%);
  }

  &.btn-primary {
    background-color: var(--primary-color);
    color: $white;
    border-color: var(--primary-color);

    &:hover {
      background-color: --primary-color-dark-5;
    }
  }

  &.btn-secondary {
    background-color: $black;
    color: $white;
    border-color: $black;

    &:hover {
      background-color: $black;
    }
  }

  &.btn-muted {
    background-color: $zinc-700;
    color: $white;
    border-color: $zinc-700;

    &:hover {
      background-color: darken($zinc-700, 5%);
    }
  }

  &.btn-danger {
    background-color: $red;
    color: $white;
    border-color: $red;

    &:hover {
      background-color: darken($red, 5%);
    }
  }

  &.btn-warning {
    background-color: $yellow;
    color: $white;
    border-color: $yellow;

    &:hover {
      background-color: darken($yellow, 5%);
    }
  }

  &.btn-success {
    background-color: $green-600;
    color: $white;
    border-color: $green-600;

    &:hover {
      background-color: darken($green-600, 5%);
    }
  }

  span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.btn-loading {
    cursor: not-allowed;
  }

  svg {
    margin-right: 8px;

    path {
      stroke: #fff;
    }

    &.loading {
      margin-right: 6px;
      position: relative;
      animation: spin 1s linear infinite;
    }
  }

  &:disabled,
  &:disabled:hover {
    opacity: 0.5;
    border: 1px solid $zinc-700;
    background-color: $zinc-600;
    cursor: not-allowed;
  }
}

.btn-link {
  width: auto;
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  outline: none;
  font-size: $base-font-size;
  cursor: pointer;

  color: var(--primary-color);

  &:hover {
    color: --primary-color-light-1;
  }

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
