section.page {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;

  &.horizontal {
    display: flex;
    flex: 1;
    padding: 0;
    flex-direction: row;
  }

  &.vertical {
    padding: 24px;

    > section.page.vertical {
      padding: 24px 0;
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }

  .page-header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    h1 {
      margin-bottom: 0;
    }

    > a {
      display: flex;
      margin-right: 6px;
    }
  }

  .page-disabled,
  .page-loader {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}
