@import '@styles/variables';

#chat {
  #chat-channels {
    flex: 0 0 200px;
    border-right: 1px solid $black;

    #chat-channels-header {
      display: flex;
      align-items: center;
      padding: 24px;

      h4 {
        flex: 1;
        text-transform: uppercase;
      }
    }

    .chat-channel {
      padding: 8px 24px;
      color: rgba($white, 0.7);
      cursor: pointer;

      &.active {
        font-weight: 600;
        color: $white;
      }

      &:hover {
        background-color: rgba($white, 0.07);
        color: $white;
      }
    }
  }

  #chat-room {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: $black;

    &-header {
      padding: 24px 16px;
      font-weight: 600;
    }

    &-thread {
      flex: 1;
      padding: 16px;
      background: #111;
    }

    &-input {
      height: 60px;
    }
  }

  #chat-room-control {
    display: flex;
    align-items: center;
    padding: 16px;

    .form-control {
      flex: 1;
      margin: 0 16px 0 0;
    }
  }
}
