@import '@styles/variables';
@import '@styles/mixins';

#admin-company {
  hr {
    margin: 24px 0;
  }

  .company {
    background-color: var(--tint-4);
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 24px;

    .company-status {
      justify-content: flex-start;
      font-size: 16px;

      svg {
        margin-left: 4px;
        vertical-align: text-top;
      }
    }
  }

  .company-locations-header {
    display: flex;

    h3 {
      flex: 1;
    }
  }

  .not-found {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--muted);
  }
}
