@import '@styles/variables';
@import '@styles/mixins';

#admin-company {
  hr {
    margin: 24px 0;
  }

  section.page.vertical {
    border-top: 1px solid rgba($white, 0.2);
    background-color: rgba($black, 0.2);
    box-shadow: inset 0px 20px 10px -20px $black;
    margin-top: 40px;
    padding-top: 40px;
  }

  .company {
    display: flex;
    align-items: center;

    > div {
      width: 100%;
      display: flex;
      align-items: center;
      flex: 1;
    }

    .company-status {
      justify-content: flex-start;
      font-size: 16px;
      font-weight: 300;

      svg {
        margin-right: 4px;
        vertical-align: text-top;
      }
    }

    .company-account-id {
      font-size: 14px;
      font-weight: 300;
      justify-content: center;
    }

    .company-updated-at {
      color: $zinc-500;
      font-size: 14px;
      font-weight: 300;
      justify-content: flex-end;
    }
  }

  .company-locations-header {
    display: flex;

    h3 {
      flex: 1;
    }
  }

  .location {
    .location-details {
      margin-bottom: 24px;

      > div {
        margin-bottom: 8px;
      }

      .location-address {
        display: flex;
      }
    }

    strong {
      color: $white;
      margin-right: 8px;
    }

    .location-description-label {
      margin-bottom: 8px;
    }

    .location-description {
      margin-bottom: 8px;
    }
  }

  .not-found {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $zinc-400;
  }
}
