@import '@styles/variables';

.sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: margin-left 500ms $curve, margin-right 500ms $curve;

  &.open {
    margin-left: 0;
    margin-right: 0;
  }
}
