@import '@styles/variables';

#admin-locations {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .card-list-scroller {
    .card-list {
      .card {
        .card-cell.location-status {
          flex: 1 1 auto;
          text-align: right;
        }
      }
    }
  }
}
