@import '@styles/variables';

.btn {
  border-radius: 8px;
  border: 1px solid $gray-600;
  background-color: $gray-500;
  color: $white;
  cursor: pointer;
  font-size: $base-font-size;
  outline: 0;
  padding: 8px 12px;
  transition: all $time ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  &:hover {
    background-color: darken($gray-500, 5%);
  }

  .light & {
    color: $black;
    border: 1px solid $gray-300;
    background-color: $gray-100;

    &:hover {
      background-color: darken($gray-100, 5%);
    }
  }

  &.btn-primary {
    background-color: $blue;
    color: $white;
    border-color: $blue;

    &:hover {
      background-color: darken($blue, 5%);
    }
  }

  &.btn-secondary {
    background-color: $black;
    color: $white;
    border-color: $black;

    &:hover {
      background-color: $black;
    }
  }

  &.btn-success {
    background-color: $green;
    color: $white;
    border-color: $green;

    &:hover {
      background-color: darken($green, 5%);
    }
  }

  &.btn-danger {
    background-color: $red;
    color: $white;
    border-color: $red;

    &:hover {
      background-color: darken($red, 5%);
    }
  }

  &:focus {
    box-shadow: 0 0 5px $blue;
    border: 1px solid $blue;
  }

  svg {
    margin-right: 8px;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
  }
}

.btn-link {
  width: auto;
  background: none;
  border: none;
  border-radius: 0;
  padding: 0;
  outline: none;
  font-size: $base-font-size;
  cursor: pointer;

  &:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }
}
