.flex-table {
  display: table;

  .flex-row {
    display: table-row;

    .flex-cell {
      padding: 8px 16px 8px 0;
      display: table-cell;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
