@import '@styles/variables';

$primary: $sky-500;
$secondary: $zinc-800;

$shade-dark: $white;
$shade-light: $zinc-800;

@function alpha($color, $alpha) {
  @return rgba(red($color), green($color), blue($color), $alpha);
}

html {
  --muted: #{$zinc-500};

  --black: #{$black};
  --black-10: #{alpha($black, 0.1)};
  --black-20: #{alpha($black, 0.2)};
  --black-30: #{alpha($black, 0.3)};
  --black-40: #{alpha($black, 0.4)};
  --black-50: #{alpha($black, 0.5)};
  --black-60: #{alpha($black, 0.6)};
  --black-70: #{alpha($black, 0.7)};
  --black-80: #{alpha($black, 0.8)};
  --black-90: #{alpha($black, 0.9)};

  --white: #{$white};
  --white-10: #{alpha($white, 0.1)};
  --white-20: #{alpha($white, 0.2)};
  --white-30: #{alpha($white, 0.3)};
  --white-40: #{alpha($white, 0.4)};
  --white-50: #{alpha($white, 0.5)};
  --white-60: #{alpha($white, 0.6)};
  --white-70: #{alpha($white, 0.7)};
  --white-80: #{alpha($white, 0.8)};
  --white-90: #{alpha($white, 0.9)};

  --primary-color: #{$primary};
  --primary-color-10: #{alpha($primary, 0.1)};
  --primary-color-20: #{alpha($primary, 0.2)};
  --primary-color-30: #{alpha($primary, 0.3)};
  --primary-color-40: #{alpha($primary, 0.4)};
  --primary-color-50: #{alpha($primary, 0.5)};
  --primary-color-60: #{alpha($primary, 0.6)};
  --primary-color-70: #{alpha($primary, 0.7)};
  --primary-color-80: #{alpha($primary, 0.8)};
  --primary-color-90: #{alpha($primary, 0.9)};

  --primary-color-dark-1: #{darken($primary, 1%)};
  --primary-color-dark-5: #{darken($primary, 5%)};
  --primary-color-light-1: #{lighten($primary, 5%)};
  --primary-color-light-5: #{lighten($primary, 5%)};
}

html[data-theme='light'] {
  --secondary-color: #{$secondary};

  --bg: #{$zinc-100};
  --bg-secondary: #{$white};
  --modal-bg: #{$zinc-100};

  --tint: #{$shade-light};
  --tint-4: #{alpha($shade-light, 0.04)};
  --tint-6: #{alpha($shade-light, 0.06)};
  --tint-10: #{alpha($shade-light, 0.1)};
  --tint-20: #{alpha($shade-light, 0.2)};
  --tint-30: #{alpha($shade-light, 0.3)};
  --tint-40: #{alpha($shade-light, 0.4)};
  --tint-50: #{alpha($shade-light, 0.5)};
  --tint-60: #{alpha($shade-light, 0.6)};
  --tint-70: #{alpha($shade-light, 0.7)};
  --tint-80: #{alpha($shade-light, 0.8)};
  --tint-90: #{alpha($shade-light, 0.9)};
}

html[data-theme='dark'] {
  --secondary-color: #{$secondary};

  --bg: #{$zinc-900};
  --bg-secondary: #{$zinc-800};
  --modal-bg: #{$zinc-800};

  --tint: #{$shade-dark};
  --tint-4: #{alpha($shade-dark, 0.04)};
  --tint-6: #{alpha($shade-dark, 0.06)};
  --tint-10: #{alpha($shade-dark, 0.1)};
  --tint-20: #{alpha($shade-dark, 0.2)};
  --tint-30: #{alpha($shade-dark, 0.3)};
  --tint-40: #{alpha($shade-dark, 0.4)};
  --tint-50: #{alpha($shade-dark, 0.5)};
  --tint-60: #{alpha($shade-dark, 0.6)};
  --tint-70: #{alpha($shade-dark, 0.7)};
  --tint-80: #{alpha($shade-dark, 0.8)};
  --tint-90: #{alpha($shade-dark, 0.9)};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: $base-font-size;
  font-weight: 400;
}

h1 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;

  > span {
    font-size: 13px;
    opacity: 0.4;
  }
}

h3 {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 500;
}

a {
  text-decoration: none;
  cursor: pointer;
}

hr {
  height: 1px;
  margin: 8px 0;
  border: 0;
  border-top: 1px solid var(--tint-20);
}

ul {
  padding-left: 16px;

  li:not(:last-child) {
    margin-bottom: 6px;
  }
}

.container-slim {
  position: relative;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 450px;
  background-color: var(--white-10);
  border: 1px solid var(--tint-4);
  box-shadow: 0 2px 10px var(--black-20);

  h1 {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--tint-20);
  }
}

form {
  display: flex;
  flex-direction: column;
  position: relative;

  button {
    margin-bottom: 12px;
  }
}

.or {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  div {
    padding: 0 8px;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
  }

  hr {
    flex: 1;
    margin: 16px 0;
  }
}

.form-control--checkbox {
  font-size: $base-font-size;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  padding: 2px;

  [type='checkbox'] {
    accent-color: var(--primary-color);
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }

  label {
    margin: 0;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.success {
  color: $green;
}

.error {
  color: $red;
}

.muted {
  color: var(--muted);
}

#root {
  position: relative;
  height: 100vh;
  width: 100vw;
  min-width: $app-max-width;
  display: flex;
  overflow: hidden;

  p {
    margin-bottom: 8px;
    line-height: 1.6;

    &:only-child,
    &:last-child {
      margin-bottom: 0;
    }

    &.small {
      font-size: 14px;
      line-height: 1.2;
      margin-bottom: 16px;
      text-align: center;
    }

    &.callout {
      text-align: center;
      margin: 8px 0;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    overflow: hidden;
    position: relative;

    &.unauthenticated {
      display: flex;
      align-items: center;
      justify-content: center;

      > section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: var(--bg);

  html[data-theme='dark'] & {
    color: var(--tint-80);

    a,
    a:active,
    a:visited {
      color: var(--primary-color);

      &:hover {
        color: var(--primary-color-light-5);
      }

      &.danger {
        color: $red;

        &:hover {
          color: $red-400;
        }
      }

      &.disabled {
        color: $zinc;
        pointer-events: none;

        &:hover {
          color: $zinc;
        }
      }

      &.success {
        color: $green-600;

        &:hover {
          color: $green-500;
        }
      }
    }

    a:focus,
    a:focus-visible {
      outline: none;
    }
  }

  html[data-theme='light'] & {
    color: $zinc-800;

    a,
    a:active,
    a:visited {
      color: var(--primary-color);

      &:hover {
        color: var(--primary-color-dark-5);
      }
    }
  }
}
