@import '@styles/variables';

.form-control {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;

  label {
    margin-bottom: 8px;
    font-weight: 500;
    user-select: none;

    span {
      margin-left: 4px;
      opacity: 0.5;
    }
  }

  #viewPassword {
    font-size: 22px;
    position: absolute;
    top: 33px;
    right: 10px;
    cursor: pointer;
  }

  input[type='text'],
  input[type='password'],
  input[type='email'],
  textarea {
    border-radius: 8px;
    font-size: $base-font-size;
    outline: none;
    padding: 8px 10px;
    width: 100%;

    &::placeholder {
      font-weight: 400;
    }
  }

  textarea {
    font-family: 'Roboto', sans-serif;
    resize: none;
    line-height: 26px;
    font-size: 0.9rem;
    overflow-x: hidden;
    padding: 8px 10px;
    display: block;
  }

  .dark & {
    #viewPassword {
      color: rgba($white, 0.4);
    }

    input[type='text'],
    input[type='password'],
    input[type='email'] {
      border: 1px solid rgba($black, 0.5);
      background-color: rgba($white, 0.1);
      color: $white;

      &:focus {
        box-shadow: 0 0 5px rgba(var(--primary-color), 0.5);
        border: 1px solid rgba(var(--primary-color), 1);
      }

      &::placeholder {
        color: rgba($white, 0.5);
      }
    }

    textarea {
      color: $zinc-300;
      border: 1px solid rgba($black, 0.5);
      background-color: rgba($white, 0.1);

      &:focus {
        box-shadow: 0 0 3px rgba($zinc-500, 0.3);
        border: 1px solid $zinc-500;
      }

      &::placeholder {
        color: $zinc-500;
      }
    }
  }

  .light & {
    #viewPassword {
      color: rgba($black, 0.5);
    }

    input[type='text'],
    input[type='password'],
    input[type='email'],
    textarea {
      color: $gray;
      border: 1px solid $gray-300;
      background-color: $white;

      &:focus {
        box-shadow: 0 0 5px rgba(var(--primary-color), 0.5);
        border: 1px solid rgba(var(--primary-color), 1);
      }

      &::placeholder {
        color: $gray-500;
      }
    }
  }

  &.error {
    .dark & {
      input,
      input:focus {
        border: 1px solid $red;
        box-shadow: 0 0 5px rgba($red, 0.5);
      }
    }

    .light & {
      input,
      input:focus {
        border: 1px solid $red;
        box-shadow: none;
      }
    }
  }
}
