#chat-channel-control {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  padding: 16px;

  #chat-form--input {
    flex: 1;
    margin: 0 16px 0 0;
  }

  #chat-form--submit {
    margin-top: 2px;
  }
}
