@import '@styles/variables';

#header {
  color: $white;
  display: flex;
  align-items: center;
  height: $header-height;
  position: relative;
  padding: 0 24px;
  width: 100%;
  flex-shrink: 0;
  user-select: none;
  border-bottom: 1px solid var(--black-10);

  #search {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
    align-items: center;
    padding-right: 24px;
  }

  #header-menu {
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;

    a,
    a:active {
      color: var(--white-80);
      font-weight: 500;

      &:not(:first-child) {
        margin-left: 24px;
      }

      &:hover,
      &:focus {
        color: var(--white);
      }
    }
  }

  html[data-theme='dark'] & {
    background-color: var(--bg-secondary);
  }
  html[data-theme='light'] & {
    background-color: var(--primary-color);
  }
}
