@import '@styles/variables';

#header {
  color: $white;
  display: flex;
  align-items: center;
  height: $header-height;
  position: relative;
  padding: 0 24px;
  width: 100%;
  flex-shrink: 0;
  user-select: none;
  background-color: var(--bg-secondary);

  #search {
    display: flex;
    flex: 1;
    height: 100%;
    position: relative;
    align-items: center;
    padding-right: 24px;
  }

  #header-menu {
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;

    a,
    a:active {
      color: var(--tint);

      &:not(:first-child) {
        margin-left: 16px;
      }

      &:hover,
      &:focus {
        color: var(--tint-80);
      }
    }
  }
}
