@import '@styles/variables';
@import '@styles/mixins';

#admin-location {
  .location {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 16px;
    height: 100%;
    @include scrollbar();

    strong {
      margin-right: 8px;
    }

    .location-description-label {
      margin-bottom: 8px;
    }

    .location-details {
      margin-bottom: 24px;
    }

    .location-status {
      display: flex;
      align-items: center;
      color: var(--tint);

      svg {
        margin-left: 4px;
      }
    }

    .location-description {
      margin-bottom: 8px;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
    }
  }

  .location-updated {
    color: var(--tint-60);
    font-size: 14px;
    font-weight: 300;
    flex: 1;
    text-align: right;
  }

  .not-found {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--muted);
  }
}
