@import '@styles/variables';

#reset-password-email-route {
  p {
    &.instructions {
      margin-bottom: 16px;
    }

    a {
      opacity: 1;
    }
  }

  .success-message {
    padding: 16px;
    border-radius: 8px;
    background-color: rgba($black, 0.2);
    font-size: 14px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;

    .success-message-icon {
      height: 100%;
      color: $green;
      padding-right: 16px;

      div {
        display: flex;
      }
    }

    .light & {
      background-color: rgba($green, 0.1);
    }
  }
  .back {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 4px;
    }
  }
}
