@import '@styles/variables';

#missing-route {
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    text-align: center;

    h1 {
      border: none;
      font-size: 60px;
      font-weight: 700;
    }
  }
}
