@import '@styles/variables';

.error-message {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: var(--black-20);
  margin-bottom: 16px;
  display: flex;
  border: 2px solid rgba($red, 0.6);

  .error-message-icon {
    color: $red;
    font-size: 24px;
  }

  .error-message-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    line-height: 1.4;
    margin-left: 16px;
    width: 100%;

    > div:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  html[data-theme='light'] & {
    background-color: rgba($red, 0.1);
  }

  &.full {
    padding: 32px 24px;
    flex-direction: column;
    align-items: center;
    border: none;

    .error-message-icon {
      margin-bottom: 24px;
      font-size: 60px;
    }

    .error-message-text {
      margin-left: 0;
    }
  }
}
